.stage { position: relative; width: 960px; }

.bg { position: absolute; left: 0; top: 0; width: 960px; }

.foo {
  position: absolute;
  left: 500px;
  top: 230px;
  width: 60px;
  transition: left 0.8s, top 0.8s;
}

.message {
  position: absolute;
  left: 30px; top: 10px; margin: 0;
  color: crimson; font-size: 24px; font-weight: bold;
}

.butterfly {
  position: absolute;
  width: 80px;
  transition: left 0.8s, top 0.8s;
}
